section.section.inter
	.section_in.inter__in
		ul.inter__list.inter__list--two
			+loop_while(13)
				li.inter__item.js-img-anim
					a.inter__link(href="#" data-fancybox="grid-list")
						img.inter__img(src=`images/grid-list/${i - 1}.jpg`, alt="")